.modal__MenuAuxiliar {
  display: none;
  position: absolute;
  z-index: 3;
  top: 3rem;
  left: 3rem;
  background-color: #1f1f22;
  color: white;
  font-weight: 600;
}

.modal__MenuAuxiliar-lista {
  outline: 1px solid #8a8989; 
}

.modal__MenuAuxiliar-item{
  padding: .2rem 1rem;

  &:hover {
    color: #91bd66;
    outline: 2px solid #8a8989;
  }
}

.modal__MenuAuxiliar-lista:nth-of-type(2) {
  outline: none;
  box-shadow: -1px 0 #8a8989, 1px 0 #8a8989;
}